* {
    font-family:"Courier New",Courier,monospace;
  }
  
  body
  {
      background: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      color:#830083;
      margin: auto;
  }
  
  .header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  nav {
    height: 7vh;
    width: 100vw;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  }
  
  a {
    position: relative;
    text-decoration: none;
    color: #830083;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
  }
  
  a:before,
  a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #830083;
    transition: 0.5s;
  }
  
  a:after {
    left: 0;
    bottom: -10px;
  }
  
  a:before {
    right: 0;
    top: -10px;
  }
  
  a:hover {
    color: #ff00d4;
  }
  
  a:hover:after,
  a:hover:before {
    width: 100%;
  }
  